extends layout

block content
 html
  head
  body
  
    h1 ye hamara naya lookup hai!!!
    h1(style='background-color:Tomato;') आएंगे तो हम ही
    h1(style='background-color:Orange;') आएंगे तो हम ही
    h1(style='background-color:DodgerBlue;') आएंगे तो हम ही
    h1(style='background-color:MediumSeaGreen;') आएंगे तो हम ही
    Hum to always hai :)
    h1(style='background-color:Gray;') आएंगे तो हम ही
    h1(style='background-color:SlateBlue;') आएंगे तो हम ही
    h1(style='background-color:Violet;') आएंगे तो हम ही
    h1(style='background-color:LightGray;') आएंगे तो हम ही
    
    
